

h2 {
	font-size:			150%;
}

td, th {
	padding:			5px;
	text-align:			left;
}

table {
	font-size:			1em;
	background-color:	#fafcff;
	border:				1px solid #909090
	color:				#2a2a2a;
	padding:			5px 5px 2px;
	border-collapse:	collapse;
}

input[type=text]{
	width:				20em;
}
