<html>
	<head>
		<title>+++ SIMw +++</title>
		<link rel="stylesheet" href="static/design.css"/>
	</head>
	<body>
		<h2>SIMd Command</h2><p>{{ simd_info }}</p>
		<table>
			<div style="overflow:scroll; overflow-x:auto; overflow-y:auto; width:950px; height:700px; border: 2px solid; padding: 10px 10px 10px 10px">
				<pre> {% for re in result %} {{re}} {% endfor %} </pre>
			</div>
		</table>
		<form action="" method="POST">
			<table>
				<p>Input 'help' if you want to see MMC_list. Input 'exit' or 'quit' if you want to disconnect SIMd.</P>
				<tr><td><input type="text" style="width:850px" placeholder="COMMAND" name="command" autofocus></td><td><input type="submit" value="실행"></td></tr> 
			</table>
		</form>
		<p><font color="red"> {{ error_message }} </font></p>
	</body>
</html>
