<!doctype html>
<html>
	<head>
		<title> +++ SIMd +++</title>
		<link rel="stylesheet" href="static/design.css"/>
	</head>
	<body>
		<h2>Select SIMd Server</h2>
		<p>========================================================================</p>
		<p>Server Name ( IP : PORT )</p>
		<p>========================================================================</p>
		<ul>
			{% for ml in notice %}
			{{ml}}<br/>
			{% endfor %}
		</ul>
		<p>========================================================================</p>
		<p> Input the Server Number you want to connect to </p>
		<form action="" method="POST">
			<table>
				<tr><td><input type="text" style="ime-mode:disabled" name="server" autofocus></td><td><input type="submit" value="선택"></td></tr> 
			</table>
		</form>
		<p><font color="red"> {{ error_message }} </font></p>
	</body>
</html>
